// // Variables color

// // Variables space

// // Variable shadow

// // Variable viewport

// Variables color
$bgColor: grey;
$textAndPrice: #FF0000;
$priceText: white;
$textBackgroundColor: #ffffff80;